$font:'Nunito', sans-serif;
$blanco :#ffffff;
$negro : #000000;
$color1: #273b61;
$color2: #aab5e6;


*{
    font-family: $font;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:$blanco;
}

header{
    padding: 1.5em 2em;
    display: flex;
    justify-content: space-between;
    background-color: $color1;

}
.search{
    background-color: $blanco;
    border: 0;
    color: $color1;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-size: 1rem;
    &:focus{
        outline: 0;
    }
}

.search::placeholder{
    color: $color1;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.movie{
    width:300px;
    margin: 1rem;
    border-radius: .5rem;
    box-shadow: 1px 2px 10px rgba(4, 22, 54, 0.877);
    background-color: $color1;
    position: relative;
    overflow: hidden;
    &:hover{
        .overview{
            transform: translateY(0);
        }
    }
}

.movie img{
    width: 100%;
}
.movie-info{
    color: $blanco;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem 1rem;
    letter-spacing: 1px;
    .green{
        background-color: rgb(193, 236, 193);
        color: rgb(21, 99, 21);
    }
    .orange{
        background-color: rgb(247, 184, 132);
        color: rgb(212, 99, 7);
    }
    .red{
        background-color: rgb(218, 141, 141);
        color: rgb(185, 37, 37);
    }
    span{

        padding: .5rem;
        border-radius: .5rem;
        font-weight: bold;
    }
    h3{
        margin-top: 0;
    }
}

.overview{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:$color1;
    padding: 1rem;
    color: $blanco;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform .4s ease-in;
}
h1{
    color: $color2;
    &:hover{
        cursor: pointer;
    }
}
#tags{
    width: 80%;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: stretch;
    margin: 10px auto;
}

.tag{
    color: $color1;
    padding:15px 15px;
    background-color: $color2;
    border-radius: 2rem;
    margin:5px;
    display:inline-block;
    box-shadow: 1px 2px 10px rgba(4, 22, 54, 0.877);
    cursor: pointer;
    text-align: center;

    &:hover{
        transform: scale(1.1);
        color: $color2;
        background-color: $color1;
        transition-duration: .5s;
    }
}

.tag.highlight{
    background-color: $color1;
    color: $color2;
}
.noResults{
    color:$color1;
}
.grid{
    display: grid;
    grid-template-columns: auto 1fr;
}